@import "null.scss";

.wrapper {
	scroll-behavior: smooth;
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
	width: 100%;

	& .header {
		width: 100%;
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;

		& .header__container {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background: url(/img/nav-bg.jpg) center/cover;
			box-shadow: 1px 1px 5px black;
			@media (max-width: 1023px) {
				padding: 0 20px;
				font-size: 18px;
				line-height: 24px;
				height: 50px;
			}
			@media (min-width: 1024px) {
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				margin: 0 20%;
				padding: 0 20px;
				min-height: 50px;
				font-size: 24px;
				line-height: 24px;
			}
			& .container__logo {
				@media (max-width: 1023px) {
					padding: 5px 0;
				}
				@media (min-width: 1024px) {
					padding: 5px 0;
				}
				& .logo__link {
					transition: all 0.3s ease-in-out 0s;
					color: rgb(51, 51, 51);
					&.logo__link_name {
						@media (max-width: 199px) {
							display: none;
						}
					}
					&:hover {
						color: rgba(0, 0, 0, 1);
						text-shadow: 0 0 1px black;
					}
					& img {
						display: inline-block;
						transition: all 0.3s ease-in-out 0s;
						@media (max-width: 1023px) {
							margin-right: 10px;
							height: 24px;
							width: 24px;
						}
						@media (min-width: 1024px) {
							margin-right: 10px;
							height: 24px;
							width: 24px;
						}
						&:hover {
							transform: scale(1.5);
						}
					}
				}
			}
			& .header__navigation {
				& .navigation__burger {
					@media (min-width: 1024px) {
						display: none;
						visibility: hidden;
					}
					@media (max-width: 1023px) {
						display: flex;
						align-items: center;
						width: 24px;
						height: 24px;
						position: fixed;
  					top: 15px;
			  		right: 20px;
						& > span,
						& > span::before,
						& > span::after {
							display: block;
							position: absolute;
							width: 100%;
							height: 3px;
							background-color: #000;
						}
						& > span::before, & > span::after {
							content: '';
						}
						& > span::before {
							top: 8px;
						}
						& > span::after {
							bottom: 8px;
						}
					}
				}
				& .menu__list {
					position: relative;
					transition: all 0.5s ease-in-out 0s;
					&.active {
						z-index: 1;
						transform: translate(0, 0);
					}
					@media (max-width: 1023px) {
						height: 100%;
						width: 100%;
						position: fixed;
						top: 50px;
						left: 0%;
						right: 0%;
						z-index: -1;
						transform: translate(-1024px, 0);
						opacity: 1;
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						align-items: center;
						background: #949494;
						border-top: 3px solid #000;
					}
					@media (min-width: 1024px) {
						padding: 5px 0;
						display: flex;
						justify-content: space-around;
						align-items: center;	
					}
					& li {
						@media (max-width: 1023px) {
							width: 100%;
							border-bottom: 3px solid #000;
							text-align: center;
							padding: 20px;
							background: #949494;
						}
					}
					& .navigation__link {
						@media (max-width: 1023px) {
							transition: all 0.1s ease-in-out 0s;
							color: rgb(51, 51, 51);
							font-size: 36px;
							font-weight: 700;
							line-height:normal;
							
						}
						@media (min-width: 1024px) {
							transition: all 0.1s ease-in-out 0s;
							color: rgb(51, 51, 51);
							margin: 0 10px;
						}
						&:hover {
							color: rgba(0, 0, 0, 1);
							text-shadow: 0 0 1px black;
						}
					}
					& .navigation__link_4 {
						color: rgb(0, 112, 139);
						font-weight: 700;
						&:hover {
							color: rgb(0, 166, 207);
						}
					}
				}
			}
		}
	}
	& .swiper {
		position: relative;
		& .swiper-button-prev, & .swiper-button-next {
			@media (max-width: 239px) {
				visibility: hidden;	
			}
			color: white;
			position: absolute;
			top: 50%;
		}
		& .swiper-button-next {
			right:1%;
		}
		& .swiper-button-prev {
			left:1%;
		}
		& .swiper-pagination-bullet {
			width: 10px;
			height: 10px;
			line-height: 54px;
			font-size: 54px;
			background-color: white;
		}
		& .swiper-slide_slide1, & .swiper-slide_slide2, & .swiper-slide_slide3 {
			& .slide__wrapper {
				width: 100%;
				display: flex;
				align-items: center;
				@media (max-width: 1023px) {
					height: 400px;
					padding: 100px 0;
					justify-content: space-between;
				}
				@media (min-width: 1024px) {
					padding: 100px 15%;
					justify-content: space-around;
				}
				& .wrapper__text {
					padding: 0 20px;
					@media (max-width: 1023px) {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: flex-start;
						max-width: 100%;
					}
					@media (min-width: 1024px) {
						max-width: 60%;
					}
					& .text__header {
						color: rgb(255, 255, 255);
						text-shadow: 1px 1px 3px black, 2px 2px 5px rgba(0, 0, 0, 0.75);
						@media (max-width: 199px) {
							text-align: center;
							margin: 20px 0;
							font-size: 18px;	
							font-weight: 700;
						}
						@media (max-width: 1023px) and (min-width: 200px) {
							text-align: center;
							margin: 20px 0;
							font-size: 24px;	
							font-weight: 700;
						}
						@media (min-width: 1024px) {
							margin: 0 0 20px;
							font-size: 36px;	
						}
					}	
					& .text__paragraph {
						@media (max-width: 240px) {
							margin: 0 0 20px;
							width: 100%;
							color: rgb(255, 255, 255);
							text-shadow: 1px 1px 2px rgb(0, 0, 0);
							font-size: 16px;
							text-align: center;
						}
						@media (max-width: 1023px) and (min-width: 241px) {
							margin: 0 0 20px;
							width: 80%;
							color: rgb(255, 255, 255);
							text-shadow: 1px 1px 2px rgb(0, 0, 0);
							font-size: 18px;
							text-align: center;
						}
						@media (min-width: 1024px) {
							color: rgb(0, 0, 0);
							text-shadow: 1px 1px 2px rgb(255, 255, 255);
							font-size: 20px;
							line-height: 24px;
							text-align: justify;
							word-wrap: break-word;
							text-indent: 20px;
						}
					}
				}

				& .slide__img {
					@media (max-width: 1023px) {
						display: none;
					}
					@media (min-width: 1024px) {
						transition: all 0.3s ease-in-out 0s;
						height: 300px;
						width: 300px;
					}
					&:hover {
						transform: scale(110%) translate(0, -10px);
					}
				}
			}
		}
		& .swiper-slide_slide1, & .swiper-slide_slide2, & .swiper-slide_slide3 {
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 );
			background-blend-mode:overlay;
			background-attachment: fixed	;
		} 
		& .swiper-slide_slide1 {
			@media (min-width: 1024px) {
				background: url(/img/swiper1-slide1-bg.png) center/cover no-repeat, radial-gradient(ellipse at center,  rgba(255,255,255, 0.3) 20%,rgba(255,255,255,0.2) 50%,rgba(0,0,0,1) 100%); 
			}
			@media (max-width: 1023px) {
				background: url(/img/swiper1-slide1-bg.png) center/cover no-repeat, radial-gradient(ellipse at center,  rgba(0,0,0, 0.4) 0%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,1) 100%); 
			}
		}

		& .swiper-slide_slide2 { 
			@media (min-width: 1024px) {
				background: url(/img/swiper1-slide2-bg.png) center/cover no-repeat, radial-gradient(ellipse at center,  rgba(255,255,255, 0.3) 20%,rgba(255,255,255,0.2) 50%,rgba(0,0,0,1) 100%); 
			}
			@media (max-width: 1023px) {
				background: url(/img/swiper1-slide2-bg.png) center/cover no-repeat, radial-gradient(ellipse at center,  rgba(0,0,0, 0.4) 0%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,1) 100%); 
			}
		}

		& .swiper-slide_slide3 {
			@media (min-width: 1024px) {
				background: url(/img/swiper1-slide3-bg.png) center/cover no-repeat, radial-gradient(ellipse at center,  rgba(255,255,255, 0.3) 20%,rgba(255,255,255,0.2) 50%,rgba(0,0,0,1) 100%); 
			}
			@media (max-width: 1023px) {
				background: url(/img/swiper1-slide3-bg.png) center/cover no-repeat, radial-gradient(ellipse at center,  rgba(0,0,0, 0.4) 0%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,1) 100%); 
			}
		}
	}

	& .catalog__section {
		width: 100%;
		@media (max-width: 1023px) {
			padding: 100px 5%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
		}
		@media (min-width: 1024px) {
			padding: 100px 10%;
		}

		& .catalog__header {
			@media (max-width: 1023px) {
				margin: 0 0 50px;
				text-align: center;
			}
			@media (min-width: 1024px) {
				margin: 0 0 75px;
				text-align: center;
			}
			& h3 {
				@media (max-width: 1023px) {
					font-size: 24px;
					font-weight: 700;
				}
				@media (min-width: 1024px) {
					font-size: 36px;
					font-weight: 700;
				}
			}
			& p {
				@media (max-width: 1023px) {
					margin: 10px 0 0;
					font-size: 18px;
				} 
				@media (min-width: 1024px) {
					margin: 10px 0 0;
					font-size: 24px;
				} 
			}
		}
		& .catalog-container {
			@media (max-width: 1023px) {
				margin: 0 0 50px;
				display: grid;
				width: 100%;
				grid-template-areas: 
				"container__element_1 container__element_2"
				"container__element_3 container__element_4";
			}
			@media (min-width: 1024px) {
				margin: 0 0 75px;
				display: flex;
				justify-content: space-around;
			}
			& .container__element {
				@media (max-width: 1023px) {
					transition: all 0.3s ease-in-out 0s;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;
					padding: 10px;
				}
				@media (min-width: 1024px) {
					transition: all 0.3s ease-in-out 0s;
					width: 150px;
				}
				&:hover {
					transform: scale(1.2) translate(0, 10px);
				}
				& img {
					@media (max-width: 1023px) {
						transition: all 0.3s ease-in-out 0s;
						width: 125px;
						height: 175px;
						box-shadow: 1px 1px 5px black, 3px 3px 10px black;
					}
					@media (min-width: 1024px) {
						transition: all 0.3s ease-in-out 0s;
						width: 150px;
						height: 200px;
						box-shadow: 1px 1px 5px black, 3px 3px 10px black;
					}
				}
				& p {
					@media (max-width: 1023px) {
						transition: all 0.5s ease-in-out 0s;
						margin: 10px 0 0;
						text-align: center;
						font-size: 16px;
						font-weight: 700;
					}
					@media (min-width: 1024px) {
						transition: all 0.5s ease-in-out 0s;
						margin: 10px 0;
						text-align: center;
						font-size: 16px;
						font-weight: 700;
					}
				}
			}
		}
		& .catalog__button-wrapper {
			@media (max-width: 1023px) {
				display: flex;
				justify-content: center;
				align-content: center;
				width: 100%;
			}
			@media (min-width: 1024px) {
				width: 100%;
				display: flex;
				justify-content: center;
				align-content: center;
			}
			& .catalog__button-viewall {
				transition: all 0.3s ease-in-out 0s;
				text-align: center;
				border: 3px solid #000;
				box-shadow: 1px 1px 3px black, 3px 3px 5px rgba(0, 0, 0, 0.75);
				border-radius: 20px;
				width: 40%;
				@media (max-width: 425px) {
					font-size: 16px;
					padding: 10px;
					width: 60%;
				}
				@media (max-width: 1023px) and (min-width: 425px) {
					min-height: fit-content;
					font-size: 24px;
					padding: 10px 5px;
				}
				@media (min-width: 1024px) {
					height: 64px;
					font-size: 24px;
					padding: 20px 10px;
				}
				&:hover {
					cursor: pointer;
					transform: translate(0, -5px);
					color: white;
					background-color: #666666;
				}
			}
		}
	}

	& .delivery__section {
		overflow: hidden;
		width: 100%;
		padding: 150px 10%;
		background: url("/img/delivery-section-bg.jpg") center/cover no-repeat fixed, rgba(0, 0, 0, 0.75); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 );
		background-blend-mode: overlay;	
		& .delivery__block {
			@media (min-width: 1024px) {
				max-width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			& .block__image {
				@media (min-width: 1024px) {
					width: 365px;
					height: 320px;
					border-radius: 20px;
					overflow: hidden; 
					border: 3px solid #000000;
					transition: all 0.3s ease-in-out 0s;
					perspective-origin: center;
					perspective: 500px;
					transform: rotateY(-20deg) rotateX(-20deg);
					box-shadow: -3px 3px 1px #ffffff, -5px 5px 5px #ffffff,-10px 10px 5px #ffffff, -10px 10px 0px #000000;
				}
				&:hover {
					cursor: pointer;
				}
				& .delivery__block__img {
					@media (min-width: 1024px) {
						width: 365px;
						height: 320px;
					}
				}
			}
			& .block__info {
				@media (min-width: 1024px) {
					max-width: 50%;
					color	: white;
					text-align: center;
				}
				& .info__header {
					@media (min-width: 1024px) {
						font-size: 36px;
						font-weight: 700;
						line-height: 44px;
						margin: 0 0 30px;
					}
				}
				& .info__paragraph {
					@media (min-width: 1024px) {
						font-size: 24px;
						line-height: 32px;
					}
				}
			}
		}
	}

	& .bio__section {
		@media (min-width: 1024px) {
			width: 100%;
			overflow: hidden;
			padding: 150px 0;
		}
		& .bio__block {
			width: 100%;
			& .bio__header {
				@media (min-width: 1024px) {
					text-align: center;
					font-size: 36px;
					font-weight: 700;
					margin: 0 0 30px;
					text-shadow: 0.5px 0.5px 1px black, 1px 1px 2px black;
				}
			}
			& .bio__article {
				@media (min-width: 1024px) {
					text-align: center;
					font-size: 24px;
					margin: 0 0 75px;
				}
			}
			& .bio__container {
				@media (min-width: 1024px) {
					width: 100%;
					display: flex;
					justify-content: space-around;
					align-items: center;
				}
				& .bio__person-card {
					@media (min-width: 1024px) {
						position: relative;
						border: 5px solid #000;
						box-shadow: 1px 1px 10px black;
						border-radius: 20px;
						width: 310px;
						height: 400px;
						overflow: hidden;
						transition: all 0.5s ease-in-out 0s;
					}

					&:hover {
						cursor: pointer;
						box-shadow: -2px 2px 4px black, -4px 4px 8px black;
						transform: perspective(400px) rotateY(10deg);
					}
					& .person-card__photo {
						@media (min-width: 1024px) {
							width: 300px;
							height: 320px;
						}
					}
					& .person-card__legend {
						@media (min-width: 1024px) {
							background-color: white;
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 20%;
							border-top: 3px solid black;
							text-align: center;
							padding: 5px;
							font-size: 1.1rem;
							font-weight: 700;
							line-height: 16px;
						}
					}
				}
			}
		}
	}	
}